<!doctype html>

<html lang="en">
<style>
.brand-logo{
	position: absolute;
    top: -12px;
    left: -10px;}
	.bk-img{
	background-color:#33FFDC;
	}
	</style>
<head>
  <meta charset="utf-8">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body style="background-color:#33FFDC">
<div  class="bk-img">
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container">
	<a id="logo-container" href="index.html" class="brand-logo" ><img src="Logo.png" width=90 height=90 alt="Logo">
	</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="q.html">Take the assessment</a></li>
      </ul>
	  <ul class="right hide-on-med-and-down">
		<li><a href="new 2.html">Career Book</a></li>
		</ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <p>Career, Salary and Education Information</p>
  <ul>
  
 <li>What They Do: Accountants and auditors prepare and examine financial records.</li>

<li> Work Environment: Most accountants and auditors work full time. Some work more than 40 hours per week. Overtime hours are typical at certain times of the year, such as at the end of the budget year or during tax season.</li>

 <li>How to Become One: Most employers require a candidate to have a bachelor's degree in accounting or a related field. Certification within a specific field of accounting improves job prospects. For example, many accountants become Certified Public Accountants.</li>

<li> Salary: The median annual wage for accountants and auditors is $70,500.</li>

 <li>Job Outlook: Employment of accountants and auditors is projected to grow 6 percent over the next ten years, about as fast as the average for all occupations. In general, employment growth of accountants and auditors is expected to be closely tied to the health of the overall economy. As the economy grows, more workers should be needed to prepare and examine financial records.</li>

<li> Related Careers: Compare the job duties, education, job growth, and pay of accountants and auditors with similar occupations.</li>
</body>
</html>