<!doctype html>

<html lang="en">
<style>
.brand-logo{
	position: absolute;
    top: -12px;
    left: -10px;}
	.bk-img{
	background-color:#33FFDC;
	}
	</style>
<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body style="background-color:#33FFDC">
	<div  class="bk-img">
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container">
	<a id="logo-container" href="index.html" class="brand-logo" ><img src="Logo.png" width=90 height=90 alt="Logo">
	</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="q.html">Take the assessment</a></li>
      </ul>
	  <ul class="right hide-on-med-and-down">
		<li><a href="new 2.html">Career Book</a></li>
		</ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <p>Career, Salary and Education Information</p>
  <ul>
  
<li> What They Do: Computer hardware engineers research, design, develop, and test computer systems and components.</li>

 <li>Work Environment: Computer hardware engineers usually work in research laboratories that build and test various types of computer models. Most work in computer systems design services and in manufacturing.</li>

 <li>How to Become One: Most computer hardware engineers need a bachelor’s degree from an accredited program.<li>

 <li>Salary: The median annual wage for computer hardware engineers is $114,600.</li>

 <li>Job Outlook: Employment of computer hardware engineers is projected to grow 6 percent over the next ten years, about as fast as the average for all occupations. A limited number of engineers will be needed to meet the demand for new computer hardware because more technological innovation takes place with software than with hardware.</li>

<li> Related Careers: Explore occupations that share similar duties, skills, interests, education, or training with the occupation covered in the profile.</li>

</ul>
</body>
</html>