<html>

<head>

<title>Assessment</title>

</head>

<body >

<center><h1>Assessment</h1></center>

<p>

<form name="quiz">

<p>
<h4>Rate your skill level on the following attribute</h4>
<b>Question 1:
<br>Logic: reasoning and problem solving<br></b>
<blockquote>

<input type="radio" name="q1" value="low">Low<br>

<input type="radio" name="q1" value="Below">Below Average<br>

<input type="radio" name="q1" value="Average">Average<br>

<input type="radio" name="q1" value="Above">Above Average<br>

<input type="radio" name="q1" value="High">High<br>


</blockquote>

<p><b>

<hr>

Question 2:

<br>Physical: strength, agility and dexterity<br></b>

<blockquote>

<input type="radio" name="q2" value="Low">Low<br>

<input type="radio" name="q2" value="Below">Below Average<br>

<input type="radio" name="q2" value="Average">Average<br>

<input type="radio" name="q2" value="Above">Above Average<br>

<input type="radio" name="q2" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 3:

<br>Thinking: working with new ideas and creative thinking<br></b>

<blockquote>

<input type="radio" name="q3" value="Low">Low<br>

<input type="radio" name="q3" value="Below">Below Average<br>

<input type="radio" name="q3" value="Average">Average<br>

<input type="radio" name="q3" value="Above">Above Average<br>

<input type="radio" name="q3" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 4:

<br>Attention: focus on the problem at hand<br></b>

<blockquote>

<input type="radio" name="q4" value="Low">Low<br>

<input type="radio" name="q4" value="Below">Below Average<br>

<input type="radio" name="q4" value="Average">Average<br>

<input type="radio" name="q4" value="Above">Above Average<br>

<input type="radio" name="q4" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 5:

<br>Judgment: making clear, decisive decisions<br></b>

<blockquote>

<input type="radio" name="q5" value="Low">Low<br>

<input type="radio" name="q5" value="Below">Below Average<br>

<input type="radio" name="q5" value="Average">Average<br>

<input type="radio" name="q5" value="Above">Above Average<br>

<input type="radio" name="q5" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 6:

<br>Communication: listening, speaking and working with others<br></b>

<blockquote>

<input type="radio" name="q6" value="Low">Low<br>

<input type="radio" name="q6" value="Below">Below Average<br>

<input type="radio" name="q6" value="Average">Average<br>

<input type="radio" name="q6" value="Above">Above Average<br>

<input type="radio" name="q6" value="High">High<br>

</blockquote>

<p><b>
<hr>

Question 7:

<br>Mechanical: working with tools and equipment<br></b>

<blockquote>

<input type="radio" name="q7" value="Low">Low<br>

<input type="radio" name="q7" value="Below">Below Average<br>

<input type="radio" name="q7" value="High">High<br>

<input type="radio" name="q7" value="Above">Above Average<br>

<input type="radio" name="q7" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 8:

<br>People: interaction with others, ability to train and counsel<br></b>

<blockquote>

<input type="radio" name="q8" value="Low">Low<br>

<input type="radio" name="q8" value="Below">Below Average<br>

<input type="radio" name="q8" value="Average">Average<br>

<input type="radio" name="q8" value="Above">Above Average<br>

<input type="radio" name="q8" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 9:

<br>Management: planning, proper use of time and resources<br></b>

<blockquote>

<input type="radio" name="q9" value="Low">Low<br>

<input type="radio" name="q9" value="Below">Below Average<br>

<input type="radio" name="q9" value="Average">Average<br>

<input type="radio" name="q9" value="Above">Above Average<br>

<input type="radio" name="q9" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 10:

<br>Medical: biology and health care<br></b>

<blockquote>

<input type="radio" name="q10" value="Low">Low<br>

<input type="radio" name="q10" value="Below">Below Average<br>

<input type="radio" name="q10" value="Average">Average<br>

<input type="radio" name="q10" value="Above">Above Average<br>

<input type="radio" name="q10" value="High">High<br>



</blockquote>

<p><b>

<hr>

Question 11:

<br>Business: economics, finance and marketing<br></b>

<blockquote>

<input type="radio" name="q11" value="Low">Low<br>

<input type="radio" name="q11" value="Below">Below Average<br>

<input type="radio" name="q11" value="Average">Average<br>

<input type="radio" name="q11" value="Above">Above Average<br>

<input type="radio" name="q11" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 12:

<br>Art: painting, drawing and sculpture<br></b>

<blockquote>

<input type="radio" name="q12" value="Low">Low<br>

<input type="radio" name="q12" value="Below">Below Average<br>

<input type="radio" name="q12" value="Average">Average<br>

<input type="radio" name="q12" value="Above">Above Average<br>

<input type="radio" name="q12" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 13:

<br>Culinary: food and drinks<br></b>

<blockquote>

<input type="radio" name="q13" value="Low">Low<br>

<input type="radio" name="q13" value="Below">Below Average<br>

<input type="radio" name="q13" value="Average">Average<br>

<input type="radio" name="q13" value="Above">Above Average<br>

<input type="radio" name="q13" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 14:

<br>Computers: programming and information technology<br></b>

<blockquote>

<input type="radio" name="q14" value="Low">Low<br>

<input type="radio" name="q14" value="Below">Below Average<br>

<input type="radio" name="q14" value="Average">Average<br>

<input type="radio" name="q14" value="Above">Above Average<br>

<input type="radio" name="q14" value="High">High<br>

</blockquote>

<p><b>

<hr>

Question 15:

<br>Law: legal and criminal justice<br></b>

<blockquote>

<input type="radio" name="q15" value="Low">Low<br>

<input type="radio" name="q15" value="Below">Below Average<br>

<input type="radio" name="q15" value="Average">Average<br>

<input type="radio" name="q15" value="Above">Above Average<br>

<input type="radio" name="q15" value="High">High<br>

</blockquote>

<p><b>

<input type="button"value="Grade Me"onClick="getScore(this.form);">

<input type="reset" value="Clear"><p>

</form>

<p>

<form method="post" name="Form" onsubmit="" action="">

</form>

</body>

</html>